{% extends 'base.html' %}
{% block start %}
<br>
<form class="container card  col-6 mx-auto p-3 shadow-lg " method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h2> Register</h2>
    
    {% if messages %}
    <div class="alert alert-primary" role="alert">
        {% for message in messages %}
        {{ message }}
        {% endfor %} 
    </div>
    {% endif %}


    <hr>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">First name</label>
        <input type="text" class="form-control"name="first_name">

      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Last name</label>
        <input type="text" class="form-control"  name="last_name">

      </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Username</label>
          <input type="text" class="form-control" name="username">

        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" name="password">
        </div>
       <p>Already have account| <a href="/login_page/">Login</a></p>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

{% endblock%}