{% extends 'base.html' %}
{% block start %}
<br>
<form class="container card  col-6 mx-auto p-3 shadow-lg " method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h2> Update Your Recipe</h2>
    <hr>
    <div class=" mb-3">
      <label  class="form-label" >Recipe Name</label>
      <input type="text" class="form-control" name="r_name" value="{{recipes.r_name}}">
    </div>
    <div class="mb-3">
      <label  class="form-label">Recipe Description</label>
      <textarea name="r_description"   class="form-control"  >{{recipes.r_description}}</textarea>
  
    </div>
    <div class="mb-3 ">
      <label class="form-check-label" >Recipe Image</label>
      <input type="file" class="form-control"  name="r_image" value="{{recipes.r_image}}">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
  

{% endblock%}